<?xml version="1.0"?>
<robot name="/home/gulsekykc/gulse_robotics_ws/src/gulse_scan_driver/RobotDegistiMi.urdf" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="base_link">
  </link>
  <link name="lidar">
  </link>
  <joint name="base_link_lidar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="lidar"/>
    <origin xyz="0 0 0.05" rpy="0 0 0"/>
  </joint>
  <link name="gps">
  </link>
  <joint name="base_link_gps_joint" type="fixed">
    <parent link="base_link"/>
    <child link="gps"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="imu_inertial">
  </link>
  <joint name="base_link_imu_inertial_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_inertial"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="imu_accel">
  </link>
  <joint name="base_link_imu_accel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_accel"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="imu_gyro">
  </link>
  <joint name="base_link_imu_gyro_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_gyro"/>
    <origin xyz="0 0 -0.000022" rpy="0 0 0"/>
  </joint>
</robot>
